name: Autograding (Balık Avı)

on: [push]

permissions:
  contents: read
  checks: write

jobs:
  grade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang
          pip install check50

      - name: Run Autograder
        run: |
          wget -O balik_avi/__init__.py "https://gist.githubusercontent.com/talipbozkurt/efb6c866389e7ec58e9c3a9027d333bb/raw/3e9e8bd206c6ffa3dfd6fe739a681eac42675fd7/gistfile1.txt"
          cd balik_avi && python3 lab50.py .
